@using BookBarcodeReader.Shared.Book

<h4>Add New Book</h4>
<EditForm Model="@bookModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">
            Title:
        </label>
        <InputText id="title" class="col-sm-10" @bind-Value="bookModel.Title" />
    </div>
    <div class="form-group row">
        <label for="subtitle" class="col-sm-2 col-form-label">
            Sub Title:
        </label>
        <InputText id="subtitle" class="col-sm-10" @bind-Value="bookModel.SubTitle" />
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">
            Description
        </label>
        <InputTextArea id="description" class="col-sm-10" @bind-Value="bookModel.Description" />
    </div>
    <div class="form-group row">
        <label for="pubDate" class="col-sm-2 col-form-label">
            Published Date:
        </label>
        <InputText id="pubDate" class="col-sm-4" @bind-Value="bookModel.PublishedDate" />
        <label for="publisher" class="col-sm-2 col-form-label">
            Publisher:
        </label>
        <InputText id="publisher" class="col-sm-4" @bind-Value="bookModel.Publisher" />
    </div>
    <div class="form-group row">
        <label for="language" class="col-sm-2 col-form-label">
            Language
        </label>
        <InputText id="language" class="col-sm-10" @bind-Value="bookModel.Language" />
    </div>
    <div class="form-group row">
        <label for="authors" class="col-sm-2 col-form-label">
            Authors (comma separated):
        </label>
        <InputText id="authors" class="col-sm-10" @bind-Value="bookModel.AuthorsInput" />
    </div>
    <div class="form-group row">
        <label for="categories" class="col-sm-2 col-form-label">
            Categories (comma separated):
        </label>
        <InputText id="categories" class="col-sm-10" @bind-Value="bookModel.CategoriesInput" />
    </div>
    <div class="form-group row">
        <label for="identifiers" class="col-sm-2 col-form-label">
            Identifiers (comma separated):
        </label>
        <InputText id="identifiers" class="col-sm-10" @bind-Value="bookModel.IdentifiersInput" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public EventCallback<StoreNewBookRequest> AddBook { get; set; }

    AddNewBookModel bookModel = new AddNewBookModel();

    private void HandleValidSubmit()
    {
        var identifiers = bookModel.IdentifiersInput.Split(",").Select(a => ParseBookIdentifier(a));
        var book = new StoreNewBookRequest
        {
            Title = bookModel.Title,
            Language = bookModel.Language,
            Publisher = bookModel.Publisher,
            PublishedDate = bookModel.PublishedDate,
            SubTitle = bookModel.SubTitle,
            Description = bookModel.Description,
            Authors = bookModel.AuthorsInput.Split(",").Select(a => new AuthorInfo { Name = a.Trim() }),
            Categories = bookModel.CategoriesInput.Split(",").Select(a => new CategoryInfo { Name = a.Trim() }),
            Identifiers = identifiers,
            ISBN = ParseISBN(identifiers)
        };
        AddBook.InvokeAsync(book);

    }

    private BookIdentifier ParseBookIdentifier(string identifierInput)
    {
        var splitted = identifierInput.Split(":");
        return new BookIdentifier { Type = splitted[0], Value = splitted[1] };
    }

    private string ParseISBN(IEnumerable<BookIdentifier> identifiers)
    {
        var isbn = identifiers.FirstOrDefault(id => id.Type == "ISBN_13");
        if (isbn != null)
        {
            return isbn.Value;
        }
        return identifiers?.FirstOrDefault().Value;
    }
}
