@using BookBarcodeReader.Shared
@using BookBarcodeReader.Shared.Book
<h3>Add New Book</h3>

<section>
    <BookFormComponent bookModel="bookModel" SubmitBook="(book)=>Submit(book)"></BookFormComponent>
</section>

@code {

    [Parameter]
    public EventCallback<StoreNewBookRequest> SubmitBook { get; set; }

    [Parameter]
    public BarcodeLookupResult Book { get; set; } = null;

    private BookModel bookModel;

    protected override void OnInitialized()
    {
        if (Book is null)
        {
            bookModel = new BookModel();
        }
        else
        {
            bookModel = new BookModel(Book);
        }
    }

    private void Submit(BookModel bookModel)
    {
        SubmitBook.InvokeAsync(new StoreNewBookRequest
            {
                Authors = bookModel.Authors,
                Categories = bookModel.Categories,
                Description = bookModel.Description,
                Identifiers = bookModel.Identifiers,
                Images = bookModel.Images,
                ISBN = bookModel.ISBN,
                Language = bookModel.Language,
                Link = bookModel.Link,
                PublishedDate = bookModel.PublishedDate,
                Publisher = bookModel.PublishedDate,
                SubTitle = bookModel.SubTitle,
                Title = bookModel.Title
            });
    }
}
