@using BookBarcodeReader.Shared.Book
<ul class="list-group">

    @if (books != null)
        @foreach (var book in books)
        {
            <li>
                @book.Title.ToUpperInvariant() ( @FormatAuthors(book) )
            </li>

        }

</ul>

@code {
    [Parameter]
    public BookEntity[] books { get; set; }

    private string FormatAuthors(BookEntity book) => book.Authors?.Select(author => author.Name).Aggregate((a, b) => $"{a} - {b}");
}
