<p>Barcode: @barcode</p>
<div>

</div>

@code {
    [Parameter]
    public string barcode { get; set; }
    private string currentCounitemDescription = "";

    string buildRequest()
    {
        return "";
    }
}
